ZAMMAD_URL=http://localhost:8080
ZAMMAD_TOKEN=inserer_votre_token
WEBHOOK_SECRET=
WHISPER_MODEL=base
WHISPER_DEVICE=cpu
WHISPER_COMPUTE_TYPE=int8
WHISPER_CPU_THREADS=8
OLLAMA_URL=http://localhost:11434
OLLAMA_MODEL=llama3.2
HOST=0.0.0.0
PORT=8000

# Cache Hugging Face des modèles whisper (dossier local)
# HF_HOME=/.hf-cache
# Désactiver xet si l'environnement est bloquant (bugs de téléchargement)
# HF_HUB_DISABLE_XET=1